@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #02020f;
  color: '#fff'

}

.navbar-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.view-all-btn {
  background-color: #fff !important;
  color: #e50813 !important;
}



/* media queries */

@media screen and (max-width: 768px) {
  .top-footer {
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }

  .top-footer>section {
    text-align: center;
  }

  .bottom-footer {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {

  .home .content {
    /* padding: auto !important; */
  }

  .rating-section {
    flex-direction: column !important;
    text-align: center !important;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .homeContainer h1 {
    font-size: 32px !important;
    text-align: center !important;
  }

  .home {
    /* background-color: #e50813; */
  }

  .hero-card-container {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .hero-card-container .content {
    padding: 50px !important;
    padding-top: 6rem !important;
  }

  .css-z5gn4u-MuiSvgIcon-root {
    display: none !important;
  }

  .css-18bu605-MuiTypography-root {
    letter-spacing: 1px !important;
    font-size: 12px !important;
  }
}